.cart_section{
        padding: px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.img{
  height: 200px;;
  width: 200px;;

}
.content span{
  font-size: 18px;
  font-weight: 800;
}
